.movie-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.movie-details h2 {
  margin: 0;
  font-size: 1.2rem;
}

.movie-details p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .movie-card {
    max-width: 100%;
  }
}

.movie-image {
  width: 60%; 
  max-width: 100%;
  margin-right: 10px;
  overflow: hidden; 
}

.movie-image img {
  width: 25%; 
  height: auto;
}

.movie-info {
  position: absolute;
  top: 40px;
  left: 225px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  flex: 2;
}

.info-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-row p {
  margin: 0;
  padding: 0;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.home-link,
.search-button {
  align-items: center;
  font-size: 1rem;
  margin-right: 10px;
  padding-bottom: 2px;
}

input[type='text'] {
  padding: 8px;
  font-size: 16px;
  border: none;
  margin-bottom: 20px;
  border-radius: 4px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
}
.movie-list {
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-details {
    flex-direction: column;
    position: static; 
  }
  
  .movie-image {
    width: 100%; 
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .movie-info {
    position: static; 
    background-color: transparent; 
  }
}
